In [1]:
from netCDF4 import Dataset
import pandas as pd
import numpy as np
from datetime import date
from dateutil.relativedelta import relativedelta
import ast

In [2]:
def get_SPEI(file_name, coordinates):

    data_set = Dataset(file_name,'r')

    all_lats = data_set.variables['lat'][:]
    all_lons = data_set.variables['lon'][:]
    
    start_date = date(1950,1,1)
    time_length = data_set.variables['time'].shape[0]
    time_array = list(map(lambda month: start_date + relativedelta(months=month),range(time_length)))
    
    SPEI_data = pd.DataFrame()
    
    for coordinate in coordinates:

        lon = coordinate[0]
        lat = coordinate[1]
        lat_ind = np.argmin(np.abs(all_lats-lat))
        lon_ind = np.argmin(np.abs(all_lons-lon))
        temp = pd.DataFrame()
        temp['Date'] = time_array
        temp['Longitude_E'] = lon
        temp['Latitude_N'] = lat
        spei = data_set.variables['spei'][:,lat_ind,lon_ind]
        temp['SPEI'] = spei
        if len(SPEI_data)==0:
            SPEI_data = temp
        else:
            SPEI_data = pd.concat([SPEI_data,temp])
   
    SPEI_data.loc[SPEI_data.SPEI==-1e+20,'SPEI']=np.nan
    
    return SPEI_data

In [3]:
file_name = './spei01.nc'
data_set = Dataset(file_name,'r')
data_set.variables

OrderedDict([('lon', <class 'netCDF4._netCDF4.Variable'>
              float64 lon(lon)
                  units: degrees_east
              unlimited dimensions:
              current shape = (360,)
              filling on, default _FillValue of 9.969209968386869e+36 used),
             ('lat', <class 'netCDF4._netCDF4.Variable'>
              float64 lat(lat)
                  units: degrees_south
              unlimited dimensions:
              current shape = (180,)
              filling on, default _FillValue of 9.969209968386869e+36 used),
             ('time', <class 'netCDF4._netCDF4.Variable'>
              float64 time(time)
                  units: days since 1901-01-01 00:00:00
                  calendar: proleptic_gregorian
              unlimited dimensions: time
              current shape = (837,)
              filling on, default _FillValue of 9.969209968386869e+36 used),
             ('spei', <class 'netCDF4._netCDF4.Variable'>
              float32 spei(time, lat, lon)
                  units: standardized values
                  _FillValue: -1e+20
                  long_name: standardized precipitation-evapotranspiration index
              unlimited dimensions: time
              current shape = (837, 180, 360)
              filling on)])

In [4]:
## Example: City of Tehran
lat = 35.6892
lon = 51.3890
coordinates = pd.Series(data=[[lon,lat]])
SPEI = get_SPEI(file_name, coordinates)
SPEI.head()

         Date  Longitude_E  Latitude_N      SPEI
0  1950-01-01       51.389     35.6892 -0.308979
1  1950-02-01       51.389     35.6892  0.331222
2  1950-03-01       51.389     35.6892  0.720060
3  1950-04-01       51.389     35.6892  0.164891
4  1950-05-01       51.389     35.6892 -0.033553

In [18]:
# SPEI data for Uganda
Locations = pd.read_csv('./coordinates.csv',sep=',')
coordinates = Locations.apply(lambda x:[x.lon,x.lat],axis=1)

SPEI_data = get_SPEI(file_name, coordinates)

In [23]:
Locations.rename(columns={'lon':'Longitude_E','lat':'Latitude_N'},inplace=True)
Locations.set_index(['Latitude_N','Longitude_E'],inplace=True)
SPEI_data = SPEI_data.join(Locations,on=['Latitude_N','Longitude_E'])

In [25]:
SPEI_data[SPEI_data.districts=='KAMPALA']

           Date  Longitude_E  Latitude_N      SPEI districts
0    1950-01-01    32.586214     0.31287  0.230533   KAMPALA
1    1950-02-01    32.586214     0.31287 -0.490141   KAMPALA
2    1950-03-01    32.586214     0.31287 -0.053349   KAMPALA
3    1950-04-01    32.586214     0.31287  0.890181   KAMPALA
4    1950-05-01    32.586214     0.31287  1.487484   KAMPALA
5    1950-06-01    32.586214     0.31287  0.232975   KAMPALA
6    1950-07-01    32.586214     0.31287  0.869907   KAMPALA
7    1950-08-01    32.586214     0.31287  1.485271   KAMPALA
8    1950-09-01    32.586214     0.31287  0.724182   KAMPALA
9    1950-10-01    32.586214     0.31287 -0.253931   KAMPALA
10   1950-11-01    32.586214     0.31287 -1.577842   KAMPALA
11   1950-12-01    32.586214     0.31287 -0.649666   KAMPALA
12   1951-01-01    32.586214     0.31287  0.025753   KAMPALA
13   1951-02-01    32.586214     0.31287  1.142069   KAMPALA
14   1951-03-01    32.586214     0.31287  1.170894   KAMPALA
15   1951-04-01    32.586214     0.31287  1.200490   KAMPALA
16   1951-05-01    32.586214     0.31287  0.888950   KAMPALA
17   1951-06-01    32.586214     0.31287  0.923989   KAMPALA
18   1951-07-01    32.586214     0.31287  0.037972   KAMPALA
19   1951-08-01    32.586214     0.31287  0.661877   KAMPALA
20   1951-09-01    32.586214     0.31287  0.756321   KAMPALA
21   1951-10-01    32.586214     0.31287  1.021762   KAMPALA
22   1951-11-01    32.586214     0.31287  1.206685   KAMPALA
23   1951-12-01    32.586214     0.31287  1.969798   KAMPALA
24   1952-01-01    32.586214     0.31287 -0.528024   KAMPALA
25   1952-02-01    32.586214     0.31287  0.615508   KAMPALA
26   1952-03-01    32.586214     0.31287  0.064828   KAMPALA
27   1952-04-01    32.586214     0.31287  0.295400   KAMPALA
28   1952-05-01    32.586214     0.31287 -0.447223   KAMPALA
29   1952-06-01    32.586214     0.31287 -0.537008   KAMPALA
..          ...          ...         ...       ...       ...
807  2017-04-01    32.586214     0.31287 -0.314885   KAMPALA
808  2017-05-01    32.586214     0.31287  0.224896   KAMPALA
809  2017-06-01    32.586214     0.31287 -1.508726   KAMPALA
810  2017-07-01    32.586214     0.31287 -0.529375   KAMPALA
811  2017-08-01    32.586214     0.31287 -1.664352   KAMPALA
812  2017-09-01    32.586214     0.31287  0.594323   KAMPALA
813  2017-10-01    32.586214     0.31287 -0.681435   KAMPALA
814  2017-11-01    32.586214     0.31287  0.172123   KAMPALA
815  2017-12-01    32.586214     0.31287 -1.544667   KAMPALA
816  2018-01-01    32.586214     0.31287 -1.190374   KAMPALA
817  2018-02-01    32.586214     0.31287 -0.749396   KAMPALA
818  2018-03-01    32.586214     0.31287  2.166968   KAMPALA
819  2018-04-01    32.586214     0.31287  1.671895   KAMPALA
820  2018-05-01    32.586214     0.31287 -1.083390   KAMPALA
821  2018-06-01    32.586214     0.31287  1.024160   KAMPALA
822  2018-07-01    32.586214     0.31287 -1.661592   KAMPALA
823  2018-08-01    32.586214     0.31287 -0.829566   KAMPALA
824  2018-09-01    32.586214     0.31287 -1.009359   KAMPALA
825  2018-10-01    32.586214     0.31287 -0.033065   KAMPALA
826  2018-11-01    32.586214     0.31287 -0.313846   KAMPALA
827  2018-12-01    32.586214     0.31287  1.153893   KAMPALA
828  2019-01-01    32.586214     0.31287 -0.074439   KAMPALA
829  2019-02-01    32.586214     0.31287 -0.276633   KAMPALA
830  2019-03-01    32.586214     0.31287 -1.437849   KAMPALA
831  2019-04-01    32.586214     0.31287 -1.091455   KAMPALA
832  2019-05-01    32.586214     0.31287  2.966260   KAMPALA
833  2019-06-01    32.586214     0.31287 -1.340556   KAMPALA
834  2019-07-01    32.586214     0.31287  0.094080   KAMPALA
835  2019-08-01    32.586214     0.31287  0.489532   KAMPALA
836  2019-09-01    32.586214     0.31287  0.358535   KAMPALA

[837 rows x 5 columns]

In [26]:
out_path = '../Drought_indicators/Uganda/UG_SPEI.csv'
SPEI_data.to_csv(out_path,index=False)