In [1]:
import ee
import time
import numpy as np
import pandas as pd
import geopandas as gpd

import ee.mapclient
from geetools import batch
from geetools import tools
import datetime

import time
import numpy as np
import pandas as pd
import geopandas as gpd
import os
import quandl


ee.Initialize()

"""
Author: Joris Westerveld
file containing the necessary functions needed to extract data from the Google Earth Engine
"""

ModuleNotFoundError: No module named 'geopandas'

In [4]:
"""
Function that can extract and spatial reduce 
the data from the Google Earth Engine.

It returns a feature collection containing 
the data that is reduced per region.
"""

def extract_data_EE(im_col, fe_col, min_year, max_year, min_month, max_month, reducer_func, scale = 1000, export = False, reduce_imcol = True):
    # initialize earth engine
    ee.Initialize()

    # create list 
    year_data = []
    
    # since the range works betwen values this compensates so that when you want the max year to be 2018, it will be untill 2019 (thus 2018)
    max_year = max_year + 1
    max_month = max_month + 1
    
    # from 2010-2018:
    for yNum in range(min_year, max_year):
        month_data = []

        # from january - december
        for mNum in range(min_month, max_month):
            
            # load data
            
            if reduce_imcol == True:
                
                # reduce the image collection to one image:
                imageCol = ee.ImageCollection(im_col).filter(ee.Filter.calendarRange(yNum,yNum,'year')).filter(ee.Filter.calendarRange(mNum,mNum,'month'))
                reduceImageCol = imageCol.reduce(ee.Reducer.sum()) #Sum for precipitation to sum the month

            else:
                # already a single image, no need to reduce:
                reduceImageCol = ee.Image(im_col)
           
            # load regions: 
            woreda = ee.FeatureCollection(fe_col)
            
            # get mean values by woreda polygon
            imageCol_spatial_reduction = reduceImageCol.reduceRegions(collection = woreda, 
                                                   reducer = reducer_func, 
                                                   scale = scale)

            def newCol(feature):
                feature = feature.set('Year',yNum)
                feature = feature.set('Month',mNum)
                return(feature)

            # add a new column for year to each feature in the feature collection
            polyOut = imageCol_spatial_reduction.map(newCol)

            month_data.append(polyOut)

        year_data.append(month_data)

    if export == True:
            
        # If you want to EXPORT csv to your google drive:
        # Table to Drive Export Example
        mytask  = ee.batch.Export.table.toDrive(collection = polyOut, 
                                                description = 'out',
                                                folder = im_col,
                                                fileFormat = 'CSV')  
        ee.batch.data.startProcessing(mytask.id, mytask.config)
            
    return(year_data)

In [5]:
"""
Function that can convert a feature collection 
created through the google earth engine to a pandas DataFrame
"""

# function to convert a feature collection to a data frame 
def fc_to_df(year_data):
    data_list = []
    
    # for every (month) feature collection in the year feature collection:
    for data in year_data:
        
        # since 2018-12 is an empty feature collection at this moment this doesn't exist as so catch this error
        # this might nog be the prettiest solution.
        try:
            features = data.getInfo()['features']
            dict_list = []
        except:
            print("No info, month skipped")
            continue
            # return data_list
            
        
        # if it contains features, than for every feature add it to a list
        for f in features:
            attribute = f['properties']
            dict_list.append(attribute)
        
        # when each feature has been done add to list for one month
        df = pd.DataFrame(dict_list)
        data_list.append(df)
    
    # returning a list with a df for each month of the feature collection
    return data_list

In [6]:
"""
Function that turns a dictionary containing feature collections
into a dictionary containing data frames.
"""

def fcdict_to_df(start_year, fe_col):

    # script to add each month in the feature collection to a dictonairy:
    df_dict = {}
    
    # this takes some time. For 8 years * 12 months it takes around 30 - 60 minutes. 
    
    # for every datapoint in fe_col (feature collection for all years, all months):
    for data in fe_col:

        # dummy variable in order to keep account where the script is and for the key of the dictonairy
        print(start_year)

        # convert to dataframe:
        data = fc_to_df(data)
        
        try:
            # Concat the dataframes:
            df_dict['{0}'.format(start_year)] = pd.concat(data)
            print('concat')
            
        except ValueError:
            print('no data to append in {0}, skipping this year'.format(start_year))
            pass

        start_year = start_year + 1
        
    # Turn dataframe dict to one dataframe:
    df_result = pd.concat(df_dict.values(), ignore_index=True)
    
    return(df_result)

In [7]:
# Codes for the fusion tables:
#country = ee.FeatureCollection('ft:12FZSu0lre4EtJdK7KvUYoTKw-A7B5A-f1iiAPHvz') #Uganda ADMI_0 shapefile
country = ee.FeatureCollection('ft:1D-opj7oMapOL0H__HwezRFCK0lzQW9aqPpmNnp4C') #Uganda ADM_1
#country = ee.FeatureCollection('ft:1HuJw6zpefZhhNRWc_fcqvNnn5HOoqBEZ4IXy2bdl') #Kenya ADM_1
#country = ee.FeatureCollection('ft:1HftUoTqcEQyJwDRIhx7KLyb4_ss81QZCjuh9vwRa') #Ethiopia ADM_2
#country = ee.FeatureCollection('ft:1IdlUSTXrxgwIR2SCuptBJdGuTL6jTlw3cVvjBo-f') #Ethiopia ADM_1
 

# country abbreviation:
country_abb = "UG"  #UG #KE #UG

In [9]:
print("-----------------------------------------------------------------------------------------")
print("                                 NDVI mean                                               ")
print("-----------------------------------------------------------------------------------------")

# Collect Features:
fc_ndvi_mean = extract_data_EE(im_col  = "NASA/GIMMS/3GV0", 
                     fe_col  = country, min_year = 1981, max_year = 2019, min_month = 1, 
                     max_month = 12, reducer_func = ee.Reducer.mean())

# Turn feature collection dict to a single dataframe
df_ndvi_mean = fcdict_to_df(1981, fc_ndvi_mean)
df_ndvi_mean = df_ndvi_mean.rename(columns={'mean':'ndvi_mean'})

df_ndvi_mean.to_csv(r"C:\Users\MPanis\Documents\510 Documents\UG_ndvi_adm_1.csv", sep= ';', index = False)

-----------------------------------------------------------------------------------------
                                 NDVI mean
-----------------------------------------------------------------------------------------
1981
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
concat
1982
concat
1983
concat
1984
concat
1985
concat
1986
concat
1987
concat
1988
concat
1989
concat
1990
concat
1991
concat
1992
concat
1993
concat
1994
concat
1995
concat
1996
No info, month skipped
concat
1997
concat
1998
concat
1999
concat
2000
concat
2001
concat
2002
concat
2003
concat
2004
concat
2005
concat
2006
concat
2007
concat
2008
concat
2009
concat
2010
concat
2011
concat
2012
concat
2013
concat
2014
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
no data to append in 2014, skipping this year
2015
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
no data to append in 2015, skipping this year
2016
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
no data to append in 2016, skipping this year
2017
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
no data to append in 2017, skipping this year
2018
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
no data to append in 2018, skipping this year
2019
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
No info, month skipped
no data to append in 2019, skipping this year

In [8]:
#Note: Change to sum above (reduce_imcol)!!!!

print("-----------------------------------------------------------------------------------------")
print("                                 CHIRPS mean                                             ")
print("-----------------------------------------------------------------------------------------")

# Collect Features:
fc_p_sum = extract_data_EE(im_col  = "UCSB-CHG/CHIRPS/DAILY", 
                     fe_col  = country, min_year = 1981, max_year = 2018, min_month = 1, 
                     max_month = 12, reducer_func = ee.Reducer.mean())

# Turn feature collection dict to a single dataframe
df_p_sum = fcdict_to_df(1981, fc_p_sum)
df_p_sum = df_p_sum.rename(columns={'sum':'precipitation'})

df_p_sum.to_csv(r"C:\Users\MPanis\Documents\510 Documents\UG_p_sum_adm_1.csv", sep= ';', index = False)

#Average per day the amount of rainfall in each district, than sum the average daily value over the month.

-----------------------------------------------------------------------------------------
                                 CHIRPS mean
-----------------------------------------------------------------------------------------
1981
concat
1982
concat
1983
concat
1984
concat
1985
concat
1986
concat
1987
concat
1988
concat
1989
concat
1990
concat
1991
concat
1992
concat
1993
concat
1994
concat
1995
concat
1996
concat
1997
concat
1998
concat
1999
concat
2000
concat
2001
concat
2002
concat
2003
concat
2004
concat
2005
concat
2006
concat
2007
concat
2008
concat
2009
concat
2010
concat
2011
concat
2012
concat
2013
concat
2014
concat
2015
concat
2016
concat
2017
concat
2018
concat

In [ ]:
print("-----------------------------------------------------------------------------------------")
print("                                 Land Surface Temperature mean                           ")
print("-----------------------------------------------------------------------------------------")

# Collect Features:
fc_lst_mean = extract_data_EE(im_col  = "MODIS/006/MOD11A1", 
                     fe_col  = country, min_year = 2000, max_year = 2018, min_month = 1, 
                     max_month = 12, reducer_func = ee.Reducer.mean())

# Turn feature collection dict to a single dataframe
df_lst_mean = fcdict_to_df(2000, fc_lst_mean)


df_lst_mean.to_csv(r"C:\Users\MPanis\Documents\510 Documents\UG_lst_adm_1.csv", sep= ';', index = False)

-----------------------------------------------------------------------------------------
                                 Land Surface Temperature mean
-----------------------------------------------------------------------------------------
2000
No info, month skipped
concat
2001
concat
2002
concat
2003
concat
2004
concat
2005
concat
2006
concat
2007
concat
2008
concat
2009
concat
2010
concat
2011
concat
2012
concat
2013
concat
2014
concat
2015
concat
2016
concat
2017

2000
No info, month skipped
concat
2001
concat
2002
No info, month skipped
concat
2003
concat
2004

In [12]:
print("-----------------------------------------------------------------------------------------")
print("                                 soil moisture mean                                      ")
print("-----------------------------------------------------------------------------------------")

# Collect Features:
fc_soilmois_mean = extract_data_EE(im_col  = "NASA_USDA/HSL/soil_moisture", 
                   fe_col  = country, min_year = 2010,max_year = 2018,min_month = 1,
                   max_month = 12,reducer_func = ee.Reducer.mean())

# Turn feature collection dict to a single dataframe
df_soilmois_mean = fcdict_to_df(2010, fc_soilmois_mean)

# save NDVI dataframe to .CSV
df_soilmois_mean.to_csv(r"C:\Users\MPanis\Documents\510 Documents\UG_sm_adm_1.csv", sep= ';', index = False)

-----------------------------------------------------------------------------------------
                                 soil moisture mean
-----------------------------------------------------------------------------------------
2010
concat
2011
concat
2012
concat
2013
concat
2014
concat
2015
concat
2016
concat
2017
concat
2018
concat

In [19]:
df_ndvi_mean.to_csv(r"C:\Users\MPanis\Documents\510 Documents\ET_ndvi_adm_2.csv", sep= ';', index = False)

In [28]:
cols_to_keep = ['Month', 'Year', 'ndvi_mean']
df_ndvi_mean[cols_to_keep].to_csv(r"C:\Users\MPanis\Documents\510 Documents\UG_ndvi.csv", sep= ';', index = False)

In [20]:
df_ndvi_mean.tail()

,ADM0_EN,ADM0_EN_ft_style,ADM0_PCODE,ADM0_PCODE_ft_style,ADM1_EN,ADM1_PCODE,ADM2ALT1EN,ADM2ALT2EN,ADM2_EN,ADM2_PCODE,...,date,date_ft_style,geometry_pos,geometry_vertex_count,import_notes,ndvi_mean,qa_mean,validOn,validOn_ft_style,validTo
15283,Ethiopia,0.0,ET,0.0,Afar,ET02,,,Zone 1 (Awsi Rasu),ET0201,...,2019-08-19,0.0,"{'type': 'Point', 'coordinates': [41.199624, 1...",1769.0,,0.185094,1.037139,2019-08-27,0.0,
15284,Ethiopia,0.0,ET,0.0,Afar,ET02,,,Zone 2 (Kilbet Rasu),ET0202,...,2019-08-19,0.0,"{'type': 'Point', 'coordinates': [40.5829508, ...",986.0,,0.192246,1.111855,2019-08-27,0.0,
15285,Ethiopia,0.0,ET,0.0,Afar,ET02,,,Zone 3 (Gabi Rasu),ET0203,...,2019-08-19,0.0,"{'type': 'Point', 'coordinates': [40.6370475, ...",2366.0,,0.317286,1.010033,2019-08-27,0.0,
15286,Ethiopia,0.0,ET,0.0,Afar,ET02,,,Zone 4 (Fantana Rasu),ET0204,...,2019-08-19,0.0,"{'type': 'Point', 'coordinates': [40.2679372, ...",1366.0,,0.204236,1.001729,2019-08-27,0.0,
15287,Ethiopia,0.0,ET,0.0,Afar,ET02,,,Zone 5 (Hari Rasu),ET0205,...,2019-08-19,0.0,"{'type': 'Point', 'coordinates': [40.3595423, ...",2372.0,,0.345557,1.000000,2019-08-27,0.0,